<?xml version="1.0" ?>
<model>
    <name>Runcam Swift Micro</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Wil Koch</name>
        <email>wfkoch@bu.edu</email>
    </author>
    <description> Mesh by FPV_AirRacer https://www.thingiverse.com/thing:2274142   </description>
</model>
